 body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  .loader{
  	position: fixed;
  	top: 0;
  	left: 0;
  	width: 100%;
  	height: 100%;
  	background-color: rgba(255, 255, 255, 0.5);
  }

  .loader-center{
  	position: fixed;
  	top: 50%;
  	left: 50%;
  }

  main {
    flex: 1 0 auto;
  }
 
 .list-img-dashboard{
    width: 100%;
    height: 150px;
 }

 .margin-top-50{
    margin-top: 50px;
 }

html {
  overflow:   scroll;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

.html::-webkit-scrollbar { width: 0 !important }

.card-content.dashboard-list{
  min-height: 125px;
  max-height: 130px;
  overflow: hidden;
}

.card-dash{
  min-height: 64px;
  overflow: hidden;
}